.decorative-lights {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    animation: glow 1.5s infinite alternate;
}

.light-blue {
    background-color: #4592c4;
    animation-delay: 0s;
}

.light-red {
    background-color: #fd7d24;
    animation-delay: 0.5s;
}

.light-yellow {
    background-color: #ffd700;
    animation-delay: 1s;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
            0 0 10px rgba(255, 255, 255, 0.5);
    }

    to {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
            0 0 30px rgba(255, 255, 255, 0.8);
    }
}

.pokedex-view {
    max-width: 576px;
    min-height: 110vh;
    background-color: #cc0000;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-shadow:
        inset 0 0 50px rgba(0, 0, 0, 0.3),
        0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    animation: titleGlow 2s infinite alternate;
}

@keyframes titleGlow {
    from {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    to {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
            0 0 10px rgba(255, 255, 255, 0.5);
    }
}